#root {
  display: flex;
  max-width: 1440px;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
}

.ant-form-item-label > label {
  font-size: 1.25rem !important;
}

.h-3rem {
  height: 3rem;
}
